.person {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0.5em 1em 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

span {
    font-weight: bold;
}

header {
    margin: 0 0 2em 0;
    max-height: 3rem;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif, cursive;
    margin: 0 0.5em 0 0.5em;
}

main {
    margin: 0 1em 0 1em;
}

img {
    max-width: 10rem;
}

#data {
    align-content: center;
}

nav {
    box-sizing: border-box;
    max-width: inherit;
    display: inline-flex;
    justify-items: center;
    width: 100%;
    border-bottom: 0.1em solid black;
    margin: auto;
    height: 3em;
    align-items: center;
    font-size: larger;
}

nav > a:hover {
   box-shadow: inset 0 0 10px gray;
}

nav > a {
    display: flex;
    margin: fill;
    text-underline: none;
    text-decoration: none;
    color: black;
    height: 100%;
    padding: 0 1em 0 1em;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(white 80%, gray);
}

.curriculum {
    display: flex;
    flex-wrap: wrap;
    alignment-baseline: baseline;
    margin-left: 2px;
    justify-items: auto;
    justify-content: normal;
    align-content: center;
    align-items: flex-start;
}

main {
    display: flex;
    font-size: 1.2em;
}

.top-list > li{
    padding: 10px 0;
}

.bullet {
   margin: 1em 0.5em 1em 0.5em;
    width: 46%;
    padding: 1em 1em 1em 1em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

tr {
    vertical-align: top;
}

td {
    padding: 1em 1em 1em 1em;
    font-size: 1.2em;
}

.hobby td {
    padding: unset;
}

@media screen and (max-width: 600px){
    body {
        font-size: 0.5em;
    }

    main {
        font-size: 0.5em;
    }

    td {
        font-size: 0.5em;
        padding: 0.2em 0.2em 0.2em 0.2em;
    }

    img {
        max-width: 5rem;
    }
}