.person {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0.5em 1em 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

span {
    font-weight: bold;
}

header {
    margin: 0 0 2em 0;
    max-height: 3rem;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif, cursive;
    margin: 0 0.5em 0 0.5em;
    box-sizing: border-box;
    font-size: 1.2rem;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

main {
    margin: 0 1em 0 1em;
    display: flex;
    /*font-size: 1.2em;*/
}

img {
    max-width: 10rem;
}

#data {
    align-content: center;
}

nav {
    box-sizing: border-box;
    max-width: inherit;
    display: inline-flex;
    justify-items: center;
    width: 100%;
    border-bottom: 0.1em solid black;
    margin: auto;
    height: 3em;
    align-items: center;
    font-size: larger;
}

nav > a:hover {
    box-shadow: inset 0 0 10px gray;
}

nav > a {
    display: flex;
    margin: fill;
    text-underline: none;
    text-decoration: none;
    color: black;
    height: 100%;
    padding: 0 1em 0 1em;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(white 80%, gray);
}

.curriculum {
    display: flex;
    flex-wrap: wrap;
    alignment-baseline: baseline;
    margin-left: 2px;
    justify-items: center;
    justify-content: normal;
    align-content: normal;
    align-items: flex-start;
    box-sizing: border-box;
}

.bullet {
    margin: 0.5em 0.5em 0.5em 0.5em;
    width: 48.7%;
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

table {
    font-size: 1.2rem;
}

td {
    padding: 0.4em;
    vertical-align: top;
    min-width: border-box;
}

.hobby td {
    padding: unset;
}

.details {
    color: dimgray;
    content: " ";
}

.details br {
    display: block;
    margin: 10px 0 0 0;
    content: "";
}

@media screen and (max-width: 800px) {

    main {
        display: block;
    }

    td {
        padding: 0.2em 0.2em 0.2em 0.2em;
    }

    img {
        max-width: 5rem;
    }

    .person {
        max-width: revert;
        width: 100%;
        height: min-content;
        box-shadow: none;
    }

    .curriculum {
        width: 100%;
    }

    .bullet {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        box-shadow: none;
    }


    .top-list {
        width: 100%;
        box-sizing: border-box;
    }

    nav {
        font-size: large;
    }
}

@media screen and (max-width: 1800px) and (min-width: 801px) {

    .bullet {
        max-width: 100%;
        min-width: 48%;
    }

    .person {
        min-width: 25%;
        max-width: 40%;
    }

}

@media screen and (max-width: 1599px) {
    .bullet {
        min-width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    body {
        font-size: small;
    }

    td {
        font-size: small;
    }

    h2 {
        font-size: small;
    }

    nav {
        font-size: medium;
    }
}
